*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
  position: absolute;
  top: 10vh;
  left: 10vw;
  min-height: 70vh;
  width: 80vw;
  background: forestgreen;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 16px;
}

.controls {
  width: 100%;
  background-color: rgb(26, 123, 26);
  text-align: center;
  padding: 8px;
  position: sticky;
  top: 0;
}

button {
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12pt;
  cursor: pointer
}

button:hover {
  box-shadow: 2px 0 10px rgba(23,23,23,.4);
}

button:disabled {
  cursor: not-allowed;
}

.card-container {
  text-align: center;
}

.card-container img {
  scale: .75;
}

.card-container:first-child {
  background-color: rgb(26, 123, 26);
  opacity: 1;
}

.card-container:not(:nth-child(n+1)) {
  opacity: .75;
}