*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
  position: absolute;
  top: 10vh;
  left: 10vw;
  min-height: 70vh;
  width: 80vw;
  background: forestgreen;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 16px;
}

.controls {
  width: 100%;
  background-color: rgb(26, 123, 26);
  text-align: center;
  padding: 8px;
  position: sticky;
  top: 0;
}

button {
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 12pt;
  cursor: pointer
}

button:hover {
  box-shadow: 2px 0 10px rgba(23,23,23,.4);
}

button:disabled {
  cursor: not-allowed;
}

.card-container {
  text-align: center;
  padding: 12px;
  padding-top: 16px;
  background-color: rgba(23,23,23,.4);
  border-bottom: 2px solid black;
}

.card-container img {
  max-width: 114px;
  margin: 5px 10px;
  z-index: 998;
  transition: all ease-in-out 200ms;
}

.card-container img:hover {
  transform: scale(1.1);
}

.card-container:first-child {
  background-color: rgb(26, 123, 26);
  opacity: 1;
}

.card-container:not(:nth-child(n1)) {
  opacity: .75;
}

.card-container > .winning-hand {
  font-size: 6vh;
  font-weight: 900;
  border-radius: 16px;
  color: white;
  text-shadow: 1px 1px solid black;
  padding: 8px 12px;
  z-index: 999;
}